{
  "swagger": "2.0",
  "info": {
    "description": "통관업무처리 절차를 기초로 수집한 무역자료를 우리나라 시도 및 성질별 기준으로 집계한 수출입무역통계입니다.  성질별 기준은 HS Code 10단위 세번을 상품 특성에 맞게 유사한 성질을 가진 품목끼리 집계한 분류체계이며, 수입은 소비재, 원자재, 자본재로 3大 대분류되고, 수출은 식료 및 직접소비재, 원료 및 연료, 경공업품, 중화학 공업품으로 4大 대분류됩니다. HS Code란 모든 상품에 고유번호를 부여하는 국제적 상품분류체계를 말하며, 시도는 서울특별시, 대구광역시, 부산광역시, 세종특별자치시 등 시도 및 광역자치단체입니다.\\n수출입무역통계란 사전적 의미로 국민경제가 다른 나라와의 사이에서 행하는 화물의 교류에 관한 통계로 일국의 경제영역으로 반입(수입)되거나 반출(수출)됨으로써 그 나라의 물적 자원을 증가 또는 감소시키는 모든 상품이 기록되며, 단순히 한 나라를 통과하는 물품(통과물품)이나 일시적으로 반입 또는 반출되는 물품은 그 나라의 물적 자원량을 증가시키거나 감소시키지 않기 때문에 무역통계에 포함되지 않습니다. 작성할 때의 기준이 되는 무역통계지역은 지리적·행정적·국민 경제적 관점에서 정해지며, 우리나라를 포함한 대부분 국가의 경우 관세법이 포괄적으로 적용되는 영역을 의미하는 관세영역과 무역통계지역은 개념적으로 일치합니다. 따라서 관세영역을 넘어서 행해지는 화물의 교류 통계가 무역통계라 할 수 있습니다. 우리나라는 수입은 CIF금액기준으로, 수출은 FOB 금액기준으로 집계합니다. 매월 15일경 수출입 신고의 정정, 취하 등 변경내역을 반영하여 전월까지의 자료를 현행화하고 있으며 주기는 1개월입니다. 중량은 순중량(kg)이며, 금액은 수입(과세가격미화금액), 수출(신고미화금액) 기준입니다.\\n※ '26.7.1.자 전남광주통합,인천 지방행정체계 개편으로 수출입신고 시도코드가 변경되었으니, 수출입실적 조회 시 참고하시기 바랍니다\\n - '26.7.1.이후 수출입실적 조회: 전남광주통합특별시 코드 12\\n - '26. 7월 이전 수출입실적 조회: 광주광역시 코드 29 / 전라남도 코드 46",
    "version": "1.0.0",
    "title": "관세청_시도별 성질별 수출입실적(GW)"
  },
  "host": "apis.data.go.kr/1220000/sidotempertrade",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getSidotempertradeList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "cdValtValNm": {
                              "type": "string",
                              "description": "수출성질명",
                              "properties": {}
                            },
                            "imexLnCnt": {
                              "type": "string",
                              "description": "수출품목건수",
                              "properties": {}
                            },
                            "imexUsdAmt": {
                              "type": "string",
                              "description": "수출금액(달러)",
                              "properties": {}
                            },
                            "priodTitle": {
                              "type": "number",
                              "description": "기간",
                              "properties": {}
                            },
                            "tmprTpcd": {
                              "type": "string",
                              "description": "수출성질코드",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "시도별 성질별 수출입실적 조회",
        "description": "시도별 성질별 수출입실적 조회목록입니다",
        "operationId": "getSidotempertradeList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "strtYymm",
          "description": "시작년월",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "endYymm",
          "description": "종료년월",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "dtlTmprYn",
          "description": "세부성질여부",
          "type": "string",
          "required": false,
          "in": "query"
        },
        {
          "name": "sidoCd",
          "description": "시도코드",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "imexTpcd",
          "description": "수출입구분코드",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "imexTmprClsfCd",
          "description": "수출입성질분류코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "header": {
      "type": "object",
      "properties": {
        "resultMsg": {
          "type": "string",
          "description": "결과메시지"
        },
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        }
      }
    },
    "body": {
      "type": "object",
      "properties": {
        "items": {
          "$ref": "#/definitions/items"
        }
      }
    },
    "items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/item"
        }
      }
    },
    "item": {
      "type": "object",
      "properties": {
        "tmprTpcd": {
          "type": "string",
          "description": "수출성질코드"
        },
        "cdValtValNm": {
          "type": "string",
          "description": "수출성질명"
        },
        "imexLnCnt": {
          "type": "string",
          "description": "수출품목건수"
        },
        "imexUsdAmt": {
          "type": "string",
          "description": "수출금액(달러)"
        },
        "priodTitle": {
          "type": "number",
          "description": "기간"
        }
      }
    },
    "getSidotempertradeList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "cdValtValNm": {
                      "type": "string",
                      "description": "수출성질명"
                    },
                    "imexLnCnt": {
                      "type": "string",
                      "description": "수출품목건수"
                    },
                    "imexUsdAmt": {
                      "type": "string",
                      "description": "수출금액(달러)"
                    },
                    "priodTitle": {
                      "type": "number",
                      "description": "기간"
                    },
                    "tmprTpcd": {
                      "type": "string",
                      "description": "수출성질코드"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://unipass.customs.go.kr/gxt/rest/tradeStats/getSidotempertradeList",
      "oprtinNm": "시도별 성질별 수출입실적 조회",
      "oprtinDc": "시도별 성질별 수출입실적 조회목록입니다",
      "gwSvcNm": "getSidotempertradeList",
      "operationId": "getSidotempertradeList",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrBassValue": "-",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "strtYymm",
          "paramtrBassValue": "201601",
          "paramtrDc": "시작년월",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "endYymm",
          "paramtrBassValue": "201612",
          "paramtrDc": "종료년월",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "dtlTmprYn",
          "paramtrBassValue": "N",
          "paramtrDc": "세부성질여부",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "sidoCd",
          "paramtrBassValue": "11",
          "paramtrDc": "시도코드",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "imexTpcd",
          "paramtrBassValue": "2",
          "paramtrDc": "수출입구분코드",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "imexTmprClsfCd",
          "paramtrBassValue": "10000",
          "paramtrDc": "수출입성질분류코드",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/header",
          "subDefNm": "header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "옵션",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메시지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "옵션",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/body",
          "subDefNm": "body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/items",
              "subDefNm": "items",
              "paramtrTy": "object",
              "paramtrDivision": "옵션",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/item",
                  "subDefNm": "item",
                  "paramtrTy": "object",
                  "paramtrDivision": "옵션",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "cdValtValNm",
                      "paramtrDc": "수출성질명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "imexLnCnt",
                      "paramtrDc": "수출품목건수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "imexUsdAmt",
                      "paramtrDc": "수출금액(달러)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "priodTitle",
                      "paramtrDc": "기간",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "tmprTpcd",
                      "paramtrDc": "수출성질코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
