{
  "swagger": "2.0",
  "info": {
    "description": "조통관업무처리 절차를 기초로 수집한 무역자료를 수출입거래종류별 기준으로 집계한 수출입무역통계입니다. 수출은 일반수출, 보세공장으로부터 수출, 자유무역으로부터 수출, 종합보세구역으로 수출 등 8개 종류로 분류되고, 수입은 일반수입(외화획득용), 외국으로부터 수출할 목적으로 보세공장에 반입되는 물품, 보세건설장반입물품 수리전사용승인 물품 등 16개 종류로 분류됩니다.\\n수출입무역통계란 사전적 의미로 국민경제가 다른 나라와의 사이에서 행하는 화물의 교류에 관한 통계로 일국의 경제영역으로 반입(수입)되거나 반출(수출)됨으로써 그 나라의 물적 자원을 증가 또는 감소시키는 모든 상품이 기록되며, 단순히 한 나라를 통과하는 물품(통과물품)이나 일시적으로 반입 또는 반출되는 물품은 그 나라의 물적 자원량을 증가시키거나 감소시키지 않기 때문에 무역통계에 포함되지 않습니다. 작성할 때의 기준이 되는 무역통계지역은 지리적·행정적·국민 경제적 관점에서 정해지며, 우리나라를 포함한 대부분 국가의 경우 관세법이 포괄적으로 적용되는 영역을 의미하는 관세영역과 무역통계지역은 개념적으로 일치합니다. 따라서 관세영역을 넘어서 행해지는 화물의 교류 통계가 무역통계라 할 수 있습니다. 우리나라는 수입은 CIF금액기준으로, 수출은 FOB 금액기준으로 집계합니다. 매월 15일경 수출입 신고의 정정, 취하 등 변경내역을 반영하여 전월까지의 자료를 현행화하고 있으며 주기는 1개월입니다. 중량은 순중량(kg)이며, 금액은 수입(과세가격미화금액), 수출(신고미화금액) 기준입니다.",
    "version": "1.0.0",
    "title": "관세청_종류별 수출입실적(GW)"
  },
  "host": "apis.data.go.kr/1220000/kindtrade",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getKindtradeList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "cnt": {
                              "type": "number",
                              "description": "건수",
                              "properties": {}
                            },
                            "dlr": {
                              "type": "number",
                              "description": "금액(달러)",
                              "properties": {}
                            },
                            "impexp": {
                              "type": "string",
                              "description": "수출입구분",
                              "properties": {}
                            },
                            "statCd": {
                              "type": "number",
                              "description": "종류 코드",
                              "properties": {}
                            },
                            "statCdCntnKor1": {
                              "type": "string",
                              "description": "종류",
                              "properties": {}
                            },
                            "wgt": {
                              "type": "number",
                              "description": "중량(KG)",
                              "properties": {}
                            },
                            "won": {
                              "type": "number",
                              "description": "금액(원)",
                              "properties": {}
                            },
                            "year": {
                              "type": "number",
                              "description": "기간",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "종류별 수출입실적 조회",
        "description": "종류별 수출입실적 조회목록입니다",
        "operationId": "getKindtradeList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "strtYymm",
          "description": "시작년월",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "endYymm",
          "description": "종료년월",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "imexKcd",
          "description": "수출입종류코드",
          "type": "number",
          "required": false,
          "in": "query"
        },
        {
          "name": "imexTpcd",
          "description": "수출입구분코드",
          "type": "number",
          "required": true,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "header": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "결과메시지"
        }
      }
    },
    "body": {
      "type": "object",
      "properties": {
        "items": {
          "$ref": "#/definitions/items"
        }
      }
    },
    "items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/item"
        }
      }
    },
    "item": {
      "type": "object",
      "properties": {
        "cnt": {
          "type": "number",
          "description": "건수"
        },
        "dlr": {
          "type": "number",
          "description": "금액(달러)"
        },
        "impexp": {
          "type": "string",
          "description": "수출입구분"
        },
        "statCd": {
          "type": "number",
          "description": "종류 코드"
        },
        "statCdCntnKor1": {
          "type": "string",
          "description": "종류"
        },
        "wgt": {
          "type": "number",
          "description": "중량(KG)"
        },
        "won": {
          "type": "number",
          "description": "금액(원)"
        },
        "year": {
          "type": "number",
          "description": "기간"
        }
      }
    },
    "getKindtradeList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "cnt": {
                      "type": "number",
                      "description": "건수"
                    },
                    "dlr": {
                      "type": "number",
                      "description": "금액(달러)"
                    },
                    "impexp": {
                      "type": "string",
                      "description": "수출입구분"
                    },
                    "statCd": {
                      "type": "number",
                      "description": "종류 코드"
                    },
                    "statCdCntnKor1": {
                      "type": "string",
                      "description": "종류"
                    },
                    "wgt": {
                      "type": "number",
                      "description": "중량(KG)"
                    },
                    "won": {
                      "type": "number",
                      "description": "금액(원)"
                    },
                    "year": {
                      "type": "number",
                      "description": "기간"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://unipass.customs.go.kr/gxt/rest/tradeStats/getKindtradeList",
      "oprtinNm": "종류별 수출입실적 조회",
      "oprtinDc": "종류별 수출입실적 조회목록입니다",
      "gwSvcNm": "getKindtradeList",
      "operationId": "getKindtradeList",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrBassValue": "-",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "strtYymm",
          "paramtrBassValue": "201805",
          "paramtrDc": "시작년월",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "endYymm",
          "paramtrBassValue": "201805",
          "paramtrDc": "종료년월",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "imexKcd",
          "paramtrBassValue": "11",
          "paramtrDc": "수출입종류코드",
          "paramtrTy": "number",
          "paramtrDivision": "옵션",
          "ck": true
        },
        {
          "paramtrNm": "imexTpcd",
          "paramtrBassValue": "2",
          "paramtrDc": "수출입구분코드",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/header",
          "subDefNm": "header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "옵션",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메시지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "옵션",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/body",
          "subDefNm": "body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/items",
              "subDefNm": "items",
              "paramtrTy": "object",
              "paramtrDivision": "옵션",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/item",
                  "subDefNm": "item",
                  "paramtrTy": "object",
                  "paramtrDivision": "옵션",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "cnt",
                      "paramtrDc": "건수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "dlr",
                      "paramtrDc": "금액(달러)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "impexp",
                      "paramtrDc": "수출입구분",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "statCd",
                      "paramtrDc": "종류 코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "statCdCntnKor1",
                      "paramtrDc": "종류",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "wgt",
                      "paramtrDc": "중량(KG)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "won",
                      "paramtrDc": "금액(원)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "year",
                      "paramtrDc": "기간",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
