{
  "swagger": "2.0",
  "info": {
    "description": "수출입신고 통관업무처리 절차를 기초로 수집한 무역자료를  항구/공항별 기준에 따라 집계한 수출입실적을 국민, 기업, 공공기관 등이 쉽고 편리하게 조회할 수 있도록 제공하는 서비스입니다. 항구공항지역코드를 이용하여 관세청 수출입통계정보의 항구 공항 지역명, 수출건수, 수출금액, 수입건수, 수입금액, 세관코드, 무역 수지등을 조회 할 수 있습니다. 통계주기는 1개월이고, 시기는 매월 15일경 수출입 신고의 정정, 취하 등 변경내역을 반영하여 전월까지의 자료를 현행화하고 있습니다.\\n강원도가 강원특별자치도로 변경('23.6.11.)됨에 따라  참고자료에 강원특별자치도의 시도코드( 51)를 추가 반영하였습니다.\\n※ '26.7.1.자 전남광주통합,인천 지방행정체계 개편으로 수출입신고 시도코드가 변경되었으니, 수출입실적 조회 시 참고하시기 바랍니다\\n - '26.7.1.이후 수출입실적 조회: 전남광주통합특별시 코드 12\\n - '26. 7월 이전 수출입실적 조회: 광주광역시 코드 29 / 전라남도 코드 46",
    "version": "1.0.0",
    "title": "관세청_항구 공항별 수출입실적(GW)"
  },
  "host": "apis.data.go.kr/1220000/porttrade",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getPorttradeList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "statKor": {
                              "type": "string",
                              "description": "항구공항지역",
                              "properties": {}
                            },
                            "year": {
                              "type": "number",
                              "description": "기간",
                              "properties": {}
                            },
                            "impCnt": {
                              "type": "number",
                              "description": "수입건수",
                              "properties": {}
                            },
                            "impDlr": {
                              "type": "number",
                              "description": "수입금액(달러)",
                              "properties": {}
                            },
                            "portCd": {
                              "type": "string",
                              "description": "항구공항지역코드",
                              "properties": {}
                            },
                            "balPayments": {
                              "type": "number",
                              "description": "무역수지(달러)",
                              "properties": {}
                            },
                            "cstmSgn": {
                              "type": "string",
                              "description": "세관코드",
                              "properties": {}
                            },
                            "expCnt": {
                              "type": "number",
                              "description": "수출건수",
                              "properties": {}
                            },
                            "expDlr": {
                              "type": "number",
                              "description": "수출금액(달러)",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "항구/공항별 수출입실적 조회",
        "description": "항구/공항별 수출입실적 조회목록입니다",
        "operationId": "getPorttradeList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "strtYymm",
          "description": "시작년월",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "endYymm",
          "description": "종료년월",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "portAirptRegnCd",
          "description": "항구공항지역코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "header": {
      "type": "object",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        },
        "resultMsg": {
          "type": "string",
          "description": "결과메시지"
        }
      }
    },
    "body": {
      "type": "object",
      "properties": {
        "items": {
          "$ref": "#/definitions/items"
        }
      }
    },
    "items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/item"
        }
      }
    },
    "item": {
      "type": "object",
      "properties": {
        "statKor": {
          "type": "string",
          "description": "항구공항지역"
        },
        "year": {
          "type": "number",
          "description": "기간"
        },
        "impCnt": {
          "type": "number",
          "description": "수입건수"
        },
        "impDlr": {
          "type": "number",
          "description": "수입금액(달러)"
        },
        "portCd": {
          "type": "string",
          "description": "항구공항지역코드"
        },
        "balPayments": {
          "type": "number",
          "description": "무역수지(달러)"
        },
        "cstmSgn": {
          "type": "string",
          "description": "세관코드"
        },
        "expCnt": {
          "type": "number",
          "description": "수출건수"
        },
        "expDlr": {
          "type": "number",
          "description": "수출금액(달러)"
        }
      }
    },
    "getPorttradeList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "statKor": {
                      "type": "string",
                      "description": "항구공항지역"
                    },
                    "year": {
                      "type": "number",
                      "description": "기간"
                    },
                    "impCnt": {
                      "type": "number",
                      "description": "수입건수"
                    },
                    "impDlr": {
                      "type": "number",
                      "description": "수입금액(달러)"
                    },
                    "portCd": {
                      "type": "string",
                      "description": "항구공항지역코드"
                    },
                    "balPayments": {
                      "type": "number",
                      "description": "무역수지(달러)"
                    },
                    "cstmSgn": {
                      "type": "string",
                      "description": "세관코드"
                    },
                    "expCnt": {
                      "type": "number",
                      "description": "수출건수"
                    },
                    "expDlr": {
                      "type": "number",
                      "description": "수출금액(달러)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://unipass.customs.go.kr/gxt/rest/tradeStats/getPorttradeList",
      "oprtinNm": "항구/공항별 수출입실적 조회",
      "oprtinDc": "항구/공항별 수출입실적 조회목록입니다",
      "gwSvcNm": "getPorttradeList",
      "operationId": "getPorttradeList",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrBassValue": "-",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "strtYymm",
          "paramtrBassValue": "201805",
          "paramtrDc": "시작년월",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "endYymm",
          "paramtrBassValue": "201805",
          "paramtrDc": "종료년월",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "portAirptRegnCd",
          "paramtrBassValue": "KRKCN",
          "paramtrDc": "항구공항지역코드",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/header",
          "subDefNm": "header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "옵션",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메시지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "옵션",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/body",
          "subDefNm": "body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/items",
              "subDefNm": "items",
              "paramtrTy": "object",
              "paramtrDivision": "옵션",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/item",
                  "subDefNm": "item",
                  "paramtrTy": "object",
                  "paramtrDivision": "옵션",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "statKor",
                      "paramtrDc": "항구공항지역",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "year",
                      "paramtrDc": "기간",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "impCnt",
                      "paramtrDc": "수입건수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "impDlr",
                      "paramtrDc": "수입금액(달러)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "portCd",
                      "paramtrDc": "항구공항지역코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "balPayments",
                      "paramtrDc": "무역수지(달러)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "cstmSgn",
                      "paramtrDc": "세관코드",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "expCnt",
                      "paramtrDc": "수출건수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "expDlr",
                      "paramtrDc": "수출금액(달러)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "number",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
