{
  "swagger": "2.0",
  "info": {
    "description": "통관업무처리 절차를 기초로 수집한 무역자료를 우리나라 시도별 기준으로 집계한 시도별 품목별 수출입무역통계입니다. HS Code란 모든 상품에 고유번호를 부여하는 국제적 상품분류체계를 말하며, 시도는 서울특별시, 대구광역시, 부산광역시, 세종특별자치시 등의 시도 및 광역자치단체입니다.\\n수출입무역통계란 사전적 의미로 국민경제가 다른 나라와의 사이에서 행하는 화물의 교류에 관한 통계로 일국의 경제영역으로 반입(수입)되거나 반출(수출)됨으로써 그 나라의 물적 자원을 증가 또는 감소시키는 모든 상품이 기록되며, 단순히 한 나라를 통과하는 물품(통과물품)이나 일시적으로 반입 또는 반출되는 물품은 그 나라의 물적 자원량을 증가시키거나 감소시키지 않기 때문에 무역통계에 포함되지 않습니다. 작성할 때의 기준이 되는 무역통계지역은 지리적·행정적·국민 경제적 관점에서 정해지며, 우리나라를 포함한 대부분 국가의 경우 관세법이 포괄적으로 적용되는 영역을 의미하는 관세영역과 무역통계지역은 개념적으로 일치합니다. 따라서 관세영역을 넘어서 행해지는 화물의 교류 통계가 무역통계라 할 수 있습니다. 우리나라는 수입은 CIF금액기준으로, 수출은 FOB 금액기준으로 집계합니다. 매월 15일경 수출입 신고의 정정, 취하 등 변경내역을 반영하여 전월까지의 자료를 현행화하고 있으며 주기는 1개월입니다. 금액은 수입(과세가격미화금액), 수출(신고미화금액) 기준입니다.\\n※ '26.7.1.자 전남광주통합,인천 지방행정체계 개편으로 수출입신고 시도코드가 변경되었으니, 수출입실적 조회 시 참고하시기 바랍니다\\n - '26.7.1.이후 수출입실적 조회: 전남광주통합특별시 코드 12\\n - '26. 7월 이전 수출입실적 조회: 광주광역시 코드 29 / 전라남도 코드 46",
    "version": "1.0.0",
    "title": "관세청_시도별 수출입실적(GW)"
  },
  "host": "apis.data.go.kr/1220000/sidotrade",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getSidotradeList": {
      "get": {
        "responses": {
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메시지",
                      "properties": {}
                    },
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "cmtrBlncAmt": {
                              "type": "string",
                              "description": "무역수지금액(달러)",
                              "properties": {}
                            },
                            "expCnt": {
                              "type": "string",
                              "description": "수출건수",
                              "properties": {}
                            },
                            "expUsdAmt": {
                              "type": "string",
                              "description": "수출금액(달러)",
                              "properties": {}
                            },
                            "impCnt": {
                              "type": "string",
                              "description": "수입건수",
                              "properties": {}
                            },
                            "impUsdAmt": {
                              "type": "string",
                              "description": "수입금액(달러)",
                              "properties": {}
                            },
                            "priodTitle": {
                              "type": "string",
                              "description": "기간",
                              "properties": {}
                            },
                            "sidoNm": {
                              "type": "string",
                              "description": "광역시(도)",
                              "properties": {}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "시도별 수출입실적 조회",
        "description": "시도별 수출입실적 조회목록입니다",
        "operationId": "getSidotradeList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "strtYymm",
          "description": "시작년월    ",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "endYymm",
          "description": "종료년월",
          "type": "number",
          "required": true,
          "in": "query"
        },
        {
          "name": "sidoCd",
          "description": "시도코드",
          "type": "string",
          "required": false,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "header": {
      "type": "object",
      "properties": {
        "resultMsg": {
          "type": "string",
          "description": "결과메시지"
        },
        "resultCode": {
          "type": "string",
          "description": "결과코드"
        }
      }
    },
    "body": {
      "type": "object",
      "properties": {
        "items": {
          "$ref": "#/definitions/items"
        }
      }
    },
    "items": {
      "type": "object",
      "properties": {
        "item": {
          "$ref": "#/definitions/item"
        }
      }
    },
    "item": {
      "type": "object",
      "properties": {
        "cmtrBlncAmt": {
          "type": "string",
          "description": "무역수지금액(달러)"
        },
        "expCnt": {
          "type": "string",
          "description": "수출건수"
        },
        "expUsdAmt": {
          "type": "string",
          "description": "수출금액(달러)"
        },
        "impCnt": {
          "type": "string",
          "description": "수입건수"
        },
        "impUsdAmt": {
          "type": "string",
          "description": "수입금액(달러)"
        },
        "priodTitle": {
          "type": "string",
          "description": "기간"
        },
        "sidoNm": {
          "type": "string",
          "description": "광역시(도)"
        }
      }
    },
    "getSidotradeList_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultMsg": {
              "type": "string",
              "description": "결과메시지"
            },
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "cmtrBlncAmt": {
                      "type": "string",
                      "description": "무역수지금액(달러)"
                    },
                    "expCnt": {
                      "type": "string",
                      "description": "수출건수"
                    },
                    "expUsdAmt": {
                      "type": "string",
                      "description": "수출금액(달러)"
                    },
                    "impCnt": {
                      "type": "string",
                      "description": "수입건수"
                    },
                    "impUsdAmt": {
                      "type": "string",
                      "description": "수입금액(달러)"
                    },
                    "priodTitle": {
                      "type": "string",
                      "description": "기간"
                    },
                    "sidoNm": {
                      "type": "string",
                      "description": "광역시(도)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://unipass.customs.go.kr/gxt/rest/tradeStats/getSidotradeList",
      "oprtinNm": "시도별 수출입실적 조회",
      "oprtinDc": "시도별 수출입실적 조회목록입니다",
      "gwSvcNm": "getSidotradeList",
      "operationId": "getSidotradeList",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrBassValue": "-",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "strtYymm",
          "paramtrBassValue": "201601",
          "paramtrDc": "시작년월    ",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "endYymm",
          "paramtrBassValue": "201612",
          "paramtrDc": "종료년월",
          "paramtrTy": "number",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "sidoCd",
          "paramtrBassValue": "",
          "paramtrDc": "시도코드",
          "paramtrTy": "string",
          "paramtrDivision": "옵션",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/header",
          "subDefNm": "header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메시지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "옵션",
              "ck": true
            },
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "옵션",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/body",
          "subDefNm": "body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/items",
              "subDefNm": "items",
              "paramtrTy": "object",
              "paramtrDivision": "옵션",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/item",
                  "subDefNm": "item",
                  "paramtrTy": "object",
                  "paramtrDivision": "옵션",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "cmtrBlncAmt",
                      "paramtrDc": "무역수지금액(달러)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "expCnt",
                      "paramtrDc": "수출건수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "expUsdAmt",
                      "paramtrDc": "수출금액(달러)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "impCnt",
                      "paramtrDc": "수입건수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "impUsdAmt",
                      "paramtrDc": "수입금액(달러)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "priodTitle",
                      "paramtrDc": "기간",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    },
                    {
                      "paramtrNm": "sidoNm",
                      "paramtrDc": "광역시(도)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "옵션",
                      "ck": true
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
