{
  "swagger": "2.0",
  "info": {
    "description": "관세청 시군구 수출입통계정보의 무역수지, 수출건수, 수출금액, 수입건수, 수입금액, 기간 등을 조회 할 수 있는 서비스입니다.\\n※ '26.7.1.자 전남광주통합,인천 지방행정체계 개편으로 수출입신고 시군구 코드가 변경되었으니, 수출입실적 조회 시 참고하시기 바랍니다\\n - '26.7.1.이후 수출입실적 조회: 지방행정체계 개편반영 시군구 코드 적용\\n - '26. 7월 이전 수출입실적 조회: 개편 전 지방행정체계 시군구 코드 적용",
    "version": "1.0.0",
    "title": "관세청_시군구별 수출입실적"
  },
  "host": "apis.data.go.kr/1220000/sigunguperimexacrs",
  "basePath": "",
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/getSigunguPerImexAcrs": {
      "get": {
        "responses": {
          "99": {
            "description": "기타"
          },
          "200": {
            "description": "성공",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "description": "header",
                  "properties": {
                    "resultCode": {
                      "type": "string",
                      "description": "결과코드",
                      "properties": {}
                    },
                    "resultMsg": {
                      "type": "string",
                      "description": "결과메세지",
                      "properties": {}
                    }
                  }
                },
                "body": {
                  "type": "object",
                  "description": "body",
                  "properties": {
                    "items": {
                      "type": "object",
                      "description": "items",
                      "properties": {
                        "item": {
                          "type": "object",
                          "description": "item",
                          "properties": {
                            "cmtrBlncAmt": {
                              "type": "string",
                              "description": "무역수지",
                              "properties": {}
                            },
                            "expCnt": {
                              "type": "string",
                              "description": "수출건수",
                              "properties": {}
                            },
                            "expUsdAmt": {
                              "type": "string",
                              "description": "수출미화금액",
                              "properties": {}
                            },
                            "impCnt": {
                              "type": "string",
                              "description": "수입건수",
                              "properties": {}
                            },
                            "impUsdAmt": {
                              "type": "string",
                              "description": "수입미화금액",
                              "properties": {}
                            },
                            "priodTitle": {
                              "type": "string",
                              "description": "기간(월별)",
                              "properties": {}
                            },
                            "sidoSggNm": {
                              "type": "string",
                              "description": "시군구명",
                              "properties": {}
                            }
                          }
                        }
                      }
                    },
                    "totalCount": {
                      "type": "string",
                      "description": "전체결과수",
                      "properties": {}
                    }
                  }
                }
              },
              "xml": {
                "name": "response"
              }
            }
          },
          "01": {
            "description": "서비스 시스템에 오류가 있는 경우"
          },
          "02": {
            "description": "인증키가 파라메터에 존재하지 않은 경우"
          },
          "03": {
            "description": "인증키가 올바르지 않은 경우"
          }
        },
        "tags": [
          "API 목록"
        ],
        "summary": "시군구별 수출입실적",
        "description": "관세청 시군구 수출입통계정보의 무역수지, 수출건수, 수출금액, 수입건수, 수입금액, 기간 등을 조회 할 수 있는 서비스",
        "operationId": "getSigunguPerImexAcrs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml"
        ]
      },
      "parameters": [
        {
          "name": "serviceKey",
          "description": "공공데이터포털에서 받은 인증키",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "strtYymm",
          "description": "시작년월",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "endYymm",
          "description": "종료년월",
          "type": "string",
          "required": true,
          "in": "query"
        },
        {
          "name": "sidoCd",
          "description": "시도코드",
          "type": "string",
          "required": true,
          "in": "query"
        }
      ]
    }
  },
  "definitions": {
    "getSigunguPerImexAcrs_response": {
      "type": "object",
      "properties": {
        "header": {
          "type": "object",
          "description": "header",
          "properties": {
            "resultCode": {
              "type": "string",
              "description": "결과코드"
            },
            "resultMsg": {
              "type": "string",
              "description": "결과메세지"
            }
          }
        },
        "body": {
          "type": "object",
          "description": "body",
          "properties": {
            "items": {
              "type": "object",
              "description": "items",
              "properties": {
                "item": {
                  "type": "object",
                  "description": "item",
                  "properties": {
                    "cmtrBlncAmt": {
                      "type": "string",
                      "description": "무역수지"
                    },
                    "expCnt": {
                      "type": "string",
                      "description": "수출건수"
                    },
                    "expUsdAmt": {
                      "type": "string",
                      "description": "수출미화금액"
                    },
                    "impCnt": {
                      "type": "string",
                      "description": "수입건수"
                    },
                    "impUsdAmt": {
                      "type": "string",
                      "description": "수입미화금액"
                    },
                    "priodTitle": {
                      "type": "string",
                      "description": "기간(월별)"
                    },
                    "sidoSggNm": {
                      "type": "string",
                      "description": "시군구명"
                    }
                  }
                }
              }
            },
            "totalCount": {
              "type": "string",
              "description": "전체결과수"
            }
          }
        }
      }
    }
  },
  "swaggerOprtinVOs": [
    {
      "oprtinUrl": "https://unipass.customs.go.kr/gxt/rest/tradeStats/getSigunguPerImexAcrs",
      "oprtinNm": "시군구별 수출입실적",
      "oprtinDc": "관세청 시군구 수출입통계정보의 무역수지, 수출건수, 수출금액, 수입건수, 수입금액, 기간 등을 조회 할 수 있는 서비스",
      "gwSvcNm": "getSigunguPerImexAcrs",
      "operationId": "getSigunguPerImexAcrs",
      "publicDataTyDetailCode": "PRDE02",
      "reqList": [
        {
          "paramtrNm": "serviceKey",
          "paramtrDc": "공공데이터포털에서 받은 인증키",
          "paramtrBassValue": "-",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "strtYymm",
          "paramtrDc": "시작년월",
          "paramtrBassValue": "201901",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "endYymm",
          "paramtrDc": "종료년월",
          "paramtrBassValue": "201912",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        },
        {
          "paramtrNm": "sidoCd",
          "paramtrDc": "시도코드",
          "paramtrBassValue": "11",
          "paramtrTy": "string",
          "paramtrDivision": "필수",
          "ck": true
        }
      ],
      "resList": [
        {
          "paramtrNm": "header",
          "paramtrDc": "header",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/getSigunguPerImexAcrs-header",
          "subDefNm": "getSigunguPerImexAcrs-header",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "resultCode",
              "paramtrDc": "결과코드",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            },
            {
              "paramtrNm": "resultMsg",
              "paramtrDc": "결과메세지",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        },
        {
          "paramtrNm": "body",
          "paramtrDc": "body",
          "arrayYn": "N",
          "paramtrDefNm": "#/definitions/getSigunguPerImexAcrs-body",
          "subDefNm": "getSigunguPerImexAcrs-body",
          "paramtrTy": "object",
          "paramtrDivision": "필수",
          "ck": true,
          "subParam": [
            {
              "paramtrNm": "items",
              "paramtrDc": "items",
              "arrayYn": "N",
              "paramtrDefNm": "#/definitions/getSigunguPerImexAcrs-items",
              "subDefNm": "getSigunguPerImexAcrs-items",
              "paramtrTy": "object",
              "paramtrDivision": "필수",
              "ck": true,
              "subParam": [
                {
                  "paramtrNm": "item",
                  "paramtrDc": "item",
                  "arrayYn": "N",
                  "paramtrDefNm": "#/definitions/getSigunguPerImexAcrs-item",
                  "subDefNm": "getSigunguPerImexAcrs-item",
                  "paramtrTy": "object",
                  "paramtrDivision": "필수",
                  "ck": true,
                  "subParam": [
                    {
                      "paramtrNm": "cmtrBlncAmt",
                      "paramtrDc": "무역수지",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "expCnt",
                      "paramtrDc": "수출건수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "expUsdAmt",
                      "paramtrDc": "수출미화금액",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "impCnt",
                      "paramtrDc": "수입건수",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "impUsdAmt",
                      "paramtrDc": "수입미화금액",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "priodTitle",
                      "paramtrDc": "기간(월별)",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    },
                    {
                      "paramtrNm": "sidoSggNm",
                      "paramtrDc": "시군구명",
                      "arrayYn": "N",
                      "paramtrDefNm": "",
                      "paramtrTy": "string",
                      "paramtrDivision": "필수",
                      "ck": true
                    }
                  ]
                }
              ]
            },
            {
              "paramtrNm": "totalCount",
              "paramtrDc": "전체결과수",
              "arrayYn": "N",
              "paramtrDefNm": "",
              "paramtrTy": "string",
              "paramtrDivision": "필수",
              "ck": true
            }
          ]
        }
      ]
    }
  ]
}
